*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 4rem;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user_score{
    font-size: 3rem;
}
#comp_score{
    font-size: 3rem;
}
.msg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    display: inline;
    padding: 1rem;
    border-radius: 1.5rem;
}